<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackweber.campusconnect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.eventDetail"/>
        <activity android:name=".ui.FoodOrder.CartActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"/>
        <activity android:name=".ui.FoodOrder.MyOrders"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"/>
        <activity android:name=".ui.FoodOrder.SelectedFood" />
        <activity
            android:name=".ui.FoodOrder.FoodOrderActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity android:name=".notifications.AdminPanel" />
        <activity android:name=".ui.UserProfilePackage.UserProfile" />
        <activity android:name=".ui.CleanlinessPackage.placeDetail" />
        <activity android:name=".ui.CleanlinessPackage.AddPlaces" />
        <activity android:name=".ui.CleanlinessPackage.Cleanliness" />
        <activity android:name=".ui.LostAndFound.ItemDetailActivity" />
        <activity android:name=".ui.LostAndFound.AddItem" />
        <activity
            android:name=".ui.LostAndFound.LostAndFound"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name=".ui.Auth.Login" />
        <activity android:name=".ui.Auth.SignUp" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <service android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>